ol.difficulty-checks {
    li {
        grid:
            'label' 1fr
            'value' 20px
            / 1fr;

        .data-value h2 {
            line-height: 1;
            height: auto;
            font-size: 24px;
        }
    }
}

.difficulty-checks {
    &.roll-data {
        h3 {
            @include p-reset;
            text-transform: capitalize;
        }
    }

    .classdc-rank {
        border-radius: 2px;
        border: 1px solid rgba(black, 0.5);
        padding: 4px;

        background-color: #{$rank-untrained};
        box-shadow: inset 0 0 0 1px rgba(white, 0.1);

        h4 {
            color: white;
            font-weight: 500;
            padding-top: 1px;
        }
    }

    .classdc-rank[value='1'] { background: #{$rank-trained}; }
    .classdc-rank[value='2'] { background: #{$rank-expert}; }
    .classdc-rank[value='3'] { background: #{$rank-master}; }
    .classdc-rank[value='4'] { background: #{$rank-legendary}; }
}
